/target/
/solutions/**/*.json
/jobs/**/*.json
/.kind/
/deploy/kind/kind-config.yaml
/packages/solveaai-sdk-ts/dist/
/packages/solveaai-sdk-ts/node_modules/
/apps/frontend/node_modules/
/apps/frontend/dist/
/apps/frontend/.local/
.DS_Store
__pycache__/
